html{
	background: rgba(74, 74, 74, 0.38);
}
body{
	
	font-family: arial, verdana;
	font-size:12px;
}
h1{
	text-align:center; 
	color: #4682B4; 
	font-weight: bold;
	font-size: 20px;
}
h2{
	font-weight: bold;
	color: #708090;
	font-size: 20px;
}
em { 
	font-weight: bold; 
	vertical-align: 
	top; color:red; }
label.error { 
	display: block; 
	margin-top: 10px; 
}

label.error { 
	text-align:left; 
	float: none; 
	color: red; 
	margin: 0 .5em 0 0; 
	vertical-align: top; 
	font-size: 10px 
}
legend{
	font-weight:bold;
}

.top{
	margin-top: 20px;
	margin-bottom: 20px
}
select{
	min-height:20px;
}
.input80{width:300px;}
.input60{width:250px;}
.input40{width:180px;}
.telefone{width:100px;}
.input10{width:50px;}
.input9{width:75px;}
.input1{width:95px;}
fieldset{
	margin-bottom:15px;
	border: none;
}
fieldset p{
	margin-left:5px;
	margin-bottom:5px;
}

#centroHome{
	background: white;
	padding:15px;
	box-shadow: 1px 1px 1px 1px #4a4a4a;
	margin: 0px auto;
	width:500px;
}
#centroInf{
	background: white;
	padding:15px;
	box-shadow: 1px 1px 1px 1px #4a4a4a;
	margin: 0px auto;
	width:600px;
}

#estado{width:200px;}
#cidade{width:143px;}
#unidade{width:187px;}

thead{
	background: grey;
}
thead td h3{
	font-weight: bold;
	color: black; 
}